In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [6]:
movies = pd.read_csv('D:/upgrad/project/Movie+Assignment+Data.csv')
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [7]:
# Write your code for inspection here
print("Columns in the DataFrame:")
print(movies.columns)

# Inspect the shape of the DataFrame (rows, columns)
print("\nShape of the DataFrame:")
print(movies.shape)

# Inspect the data types of each column
print("\nData types of each column:")
print(movies.dtypes)

# Display the first few rows of the DataFrame to get an idea of the data
print("\nFirst few rows of the DataFrame:")
print(movies.head())

Columns in the DataFrame:
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Shape of the DataFrame:
(5043, 28)

Data types of each column:
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

First few rows of the DataFrame:
   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [8]:
# Write your code for column-wise null count here
null_counts_columns = movies.isnull().sum()

# Calculate the percentage of null values in each column
null_percentages_columns = (movies.isnull().mean() * 100).round(2)

# Display the number of null values and their percentages
print("Number of null values in each column:")
print(null_counts_columns)

print("\nPercentage of null values in each column:")
print(null_percentages_columns)

Number of null values in each column:
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

Percentage of null values in each column:
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

In [9]:
# Write your code for row-wise null count here
null_counts_rows = movies.isnull().sum(axis=1)

# Calculate the percentage of null values in each row
null_percentages_rows = (movies.isnull().mean(axis=1) * 100).round(2)

# Display the number of null values and their percentages in rows
print("\nNumber of null values in each row:")
print(null_counts_rows)

print("\nPercentage of null values in each row:")
print(null_percentages_rows)

Number of null values in each row:
0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

Percentage of null values in each row:
0        0.00
1        0.00
2        0.00
3        0.00
4       50.00
        ...
5038    14.29
5039    17.86
5040    14.29
5041     7.14
5042     0.00
Length: 5043, dtype: float64

In [ ]:
# Write your code for column-wise null percentages here

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [10]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
columns_to_drop = [
    'color', 'director_facebook_likes', 'actor_1_facebook_likes',
    'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
    'cast_total_facebook_likes', 'actor_3_name', 'duration',
    'facenumber_in_poster', 'content_rating', 'country',
    'movie_imdb_link', 'aspect_ratio', 'plot_keywords'
]

# Drop the specified columns
columns_cleaned = movies.drop(columns=columns_to_drop)

# Display the remaining columns in the DataFrame
print("Remaining columns after dropping unnecessary ones:")
print(columns_cleaned.columns)

Remaining columns after dropping unnecessary ones:
Index(['director_name', 'num_critic_for_reviews', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'num_user_for_reviews', 'language', 'budget', 'title_year',
       'imdb_score', 'movie_facebook_likes'],
      dtype='object')

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [13]:
null_percentages = movies.isnull().mean() * 100

# Identify columns with more than 5% null values
columns_with_high_nulls = null_percentages[null_percentages > 5].index

# Drop rows with null values in those columns
movies_cleaned = movies.dropna(subset=columns_with_high_nulls)

# Display the shape of the dataframe after dropping rows
print(f"DataFrame shape after dropping rows with nulls in columns with > 5% null values: {movies_cleaned.shape}")

# Optionally, display the columns that had high null values
print("\nColumns with more than 5% null values:")
print(columns_with_high_nulls)

DataFrame shape after dropping rows with nulls in columns with > 5% null values: (3784, 28)

Columns with more than 5% null values:
Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [15]:
# Write your code for dropping the rows here
movies_cleaned = movies.dropna(thresh=movies.shape[1] - 5)

# Display the shape of the dataframe after dropping rows
print(f"DataFrame shape after dropping rows with more than five NaN values: {movies_cleaned.shape}")

# Optionally, display the first few rows to verify
print("\nFirst few rows after cleaning:")
print(movies_cleaned.head())

DataFrame shape after dropping rows with more than five NaN values: (4969, 28)

First few rows after cleaning:
   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
5  Color     Andrew Stanton                   462.0     132.0

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
5                    475.0                   530.0   Samantha Morton

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
5                   640.0   73058679.0          Action|Adventure|Sci-Fi  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
5                738.0  English      USA           PG-13  263700000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
5      2012.0                  632.0        6.6          2.35

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
5                24000

[5 rows x 28 columns]

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [16]:
# Write your code for filling the NaN values in the 'language' column here
movies['language'].fillna('English', inplace=True)

# Verify the changes by checking the unique values in the 'language' column
print("Unique values in the 'language' column after filling NaN values:")
print(movies['language'].unique())

Unique values in the 'language' column after filling NaN values:
['English' 'Japanese' 'French' 'Mandarin' 'Aboriginal' 'Spanish'
 'Filipino' 'Hindi' 'Russian' 'Maya' 'Kazakh' 'Telugu' 'Cantonese'
 'Icelandic' 'German' 'Aramaic' 'Italian' 'Dutch' 'Dari' 'Hebrew'
 'Chinese' 'Mongolian' 'Swedish' 'Korean' 'Thai' 'Polish' 'Bosnian'
 'Hungarian' 'Portuguese' 'Danish' 'Arabic' 'Norwegian' 'Czech' 'Kannada'
 'Zulu' 'Panjabi' 'Tamil' 'Dzongkha' 'Vietnamese' 'Indonesian' 'Urdu'
 'Romanian' 'Persian' 'Slovenian' 'Greek' 'Swahili']

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [17]:
# Write your code for checking number of retained rows here
initial_rows = movies.shape[0]

# Assuming previous subtasks were applied sequentially, here's a quick summary:
# 1. Drop unnecessary columns
columns_to_drop = [
    'color', 'director_facebook_likes', 'actor_1_facebook_likes',
    'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
    'cast_total_facebook_likes', 'actor_3_name', 'duration',
    'facenumber_in_poster', 'content_rating', 'country',
    'movie_imdb_link', 'aspect_ratio', 'plot_keywords'
]
movies = movies.drop(columns=columns_to_drop)

# 2. Drop rows with high percentage of NaN values
null_percentages = movies.isnull().mean() * 100
columns_with_high_nulls = null_percentages[null_percentages > 5].index
movies = movies.dropna(subset=columns_with_high_nulls)

# 3. Drop rows with more than 5 NaN values
movies = movies.dropna(thresh=movies.shape[1] - 5)

# 4. Fill NaN values in the 'language' column
movies['language'].fillna('English', inplace=True)

# Number of rows after cleaning
final_rows = movies.shape[0]

# Calculate the percentage of rows retained
percentage_retained = (final_rows / initial_rows) * 100

# Display the results
print(f"Initial number of rows: {initial_rows}")
print(f"Number of rows after cleaning: {final_rows}")
print(f"Percentage of rows retained: {percentage_retained:.2f}%")

Initial number of rows: 5043
Number of rows after cleaning: 3891
Percentage of rows retained: 77.16%

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

YES

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [18]:
# Write your code for unit conversion here
movies['budget'] = movies['budget'] / 1_000_000
movies['gross'] = movies['gross'] / 1_000_000

# Optionally, you can rename the columns to indicate the new units
movies.rename(columns={'budget': 'budget_million$', 'gross': 'gross_million$'}, inplace=True)

# Display the first few rows to verify the changes
print("First few rows after converting 'budget' and 'gross' to million dollars:")
print(movies[['budget_million$', 'gross_million$']].head())

First few rows after converting 'budget' and 'gross' to million dollars:
   budget_million$  gross_million$
0            237.0      760.505847
1            300.0      309.404152
2            245.0      200.074175
3            250.0      448.130642
5            263.7       73.058679

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [22]:
print("Column names in the dataframe:")
print(movies.columns)

Column names in the dataframe:
Index(['director_name', 'num_critic_for_reviews', 'gross_million$', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'num_user_for_reviews', 'language', 'budget_million$', 'title_year',
       'imdb_score', 'movie_facebook_likes'],
      dtype='object')

In [30]:
movies['profit'] = movies['gross_million$'] - movies['budget_million$']

In [31]:
# Write your code for sorting the dataframe here
movies_sorted = movies.sort_values(by='profit', ascending=False)

In [32]:
top10 =  movies_sorted.head(10)
print("Top 10 profiting movies:")
print(top10[['movie_title', 'profit']])

Top 10 profiting movies:
                                     movie_title      profit
0                                        Avatar   523.505847
29                               Jurassic World   502.177271
26                                      Titanic   458.672302
3024         Star Wars: Episode IV - A New Hope   449.935665
3080                 E.T. the Extra-Terrestrial   424.449459
794                                The Avengers   403.279547
17                                 The Avengers   403.279547
509                               The Lion King   377.783777
240   Star Wars: Episode I - The Phantom Menace   359.544677
66                              The Dark Knight   348.316061

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [33]:
# Write your code for dropping duplicate values here
movies = movies.drop_duplicates()

# Create a new column 'profit' which is the difference between 'gross_million$' and 'budget_million$'
movies['profit'] = movies['gross_million$'] - movies['budget_million$']

# Sort the dataframe by 'profit' in descending order
movies_sorted = movies.sort_values(by='profit', ascending=False)

# Extract the top ten profiting movies
top10 = movies_sorted.head(10)

# Display the top ten profiting movies
print("Top 10 profiting movies after removing duplicates:")
print(top10[['movie_title', 'profit']])  # Using 'movie_title' as the column name for titles

# Optionally, check for duplicates again
print(f"\nNumber of duplicate rows removed: {movies.shape[0] - movies.drop_duplicates().shape[0]}")

Top 10 profiting movies after removing duplicates:
                                     movie_title      profit
0                                        Avatar   523.505847
29                               Jurassic World   502.177271
26                                      Titanic   458.672302
3024         Star Wars: Episode IV - A New Hope   449.935665
3080                 E.T. the Extra-Terrestrial   424.449459
17                                 The Avengers   403.279547
509                               The Lion King   377.783777
240   Star Wars: Episode I - The Phantom Menace   359.544677
66                              The Dark Knight   348.316061
439                            The Hunger Games   329.999255

Number of duplicate rows removed: 0

In [36]:
# Write code for repeating subtask 2 here
james_cameron_movies = movies[movies['director_name'] == 'James Cameron']

print("\nMovies directed by James Cameron:")
print(james_cameron_movies[['movie_title', 'director_name']])

Movies directed by James Cameron:
                      movie_title  director_name
0                         Avatar   James Cameron
26                       Titanic   James Cameron
288   Terminator 2: Judgment Day   James Cameron
291                    True Lies   James Cameron
606                    The Abyss   James Cameron
2486                      Aliens   James Cameron
3575              The Terminator   James Cameron

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

YES

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [37]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
movies_filtered = movies[movies['num_voted_users'] > 25000]
df_sorted = movies_filtered.sort_values(by='imdb_score', ascending=False)

IMDb_Top_250 = movies_sorted.head(250).copy()

# Add a 'Rank' column with values from 1 to 250
IMDb_Top_250['Rank'] = range(1, 251)

# Display the 'IMDb_Top_250' dataframe
print("IMDb Top 250 Movies:")
print(IMDb_Top_250[['movie_title', 'imdb_score', 'num_voted_users', 'Rank']].head())

IMDb Top 250 Movies:
                              movie_title  imdb_score  num_voted_users  Rank
0                                 Avatar          7.9           886204     1
29                        Jurassic World          7.0           418214     2
26                               Titanic          7.7           793059     3
3024  Star Wars: Episode IV - A New Hope          8.7           911097     4
3080          E.T. the Extra-Terrestrial          7.9           281842     5

In [39]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']

# Display the top foreign language films
print("\nTop Foreign Language Films in IMDb Top 250:")
print(Top_Foreign_Lang_Film[['movie_title', 'language', 'imdb_score', 'Rank']])

Top Foreign Language Films in IMDb Top 250:
                          movie_title  language  imdb_score  Rank
2605  Crouching Tiger, Hidden Dragon   Mandarin         7.9   174

In [40]:
veer_zaara_check = IMDb_Top_250[IMDb_Top_250['movie_title'] == 'Veer-Zaara']
print("\nIs 'Veer-Zaara' in the IMDb Top 250?")
print(veer_zaara_check)

Is 'Veer-Zaara' in the IMDb Top 250?
Empty DataFrame
Columns: [director_name, num_critic_for_reviews, gross_million$, genres, actor_1_name, movie_title, num_voted_users, num_user_for_reviews, language, budget_million$, title_year, imdb_score, movie_facebook_likes, profit, Rank]
Index: []

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

NO

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [41]:
# Write your code for extracting the top 10 directors here
grouped_directors = movies.groupby('director_name')['imdb_score'].mean().reset_index()

# 2. Find the top 10 directors with the highest mean IMDb scores
top10directors = grouped_directors.sort_values(by='imdb_score', ascending=False).head(10)

# Display the top 10 directors
print("Top 10 Directors with the Highest Mean IMDb Scores:")
print(top10directors)

Top 10 Directors with the Highest Mean IMDb Scores:
              director_name  imdb_score
216         Charles Chaplin    8.600000
1675              Tony Kaye    8.600000
45         Alfred Hitchcock    8.500000
1440             Ron Fricke    8.500000
302         Damien Chazelle    8.500000
1017           Majid Majidi    8.500000
1498           Sergio Leone    8.433333
260       Christopher Nolan    8.425000
1467         S.S. Rajamouli    8.400000
1035  Marius A. Markevicius    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

YES

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [44]:
# Write your code for extracting the first two genres of each movie here
genres_split = movies['genres'].str.split('|', n=1, expand=True)
movies['genre_1'] = genres_split[0]
movies['genre_2'] = genres_split[1].fillna(movies['genre_1'])

In [46]:
movies_by_segment = movies.groupby(['genre_1', 'genre_2'])['gross_million$'].mean().reset_index()

In [49]:
PopGenre = movies_by_segment.sort_values(by='gross_million$', ascending=False).head(5)
print("Top 5 Most Popular Genre Combinations:")
print(PopGenre)

Top 5 Most Popular Genre Combinations:
       genre_1                                genre_2  gross_million$
731     Family                                 Sci-Fi      434.949459
281  Adventure         Animation|Drama|Family|Musical      422.783777
258  Adventure  Animation|Comedy|Drama|Family|Fantasy      356.454367
126     Action   Biography|Drama|History|Thriller|War      350.123553
93      Action               Adventure|Fantasy|Sci-Fi      296.684758

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

YES

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [52]:
# Write your code for creating three new dataframes here
Meryl_Streep = movies[movies['actor_1_name'] == 'Meryl Streep']

In [53]:
Leo_Caprio =  movies[movies['actor_1_name'] == 'Leonardo DiCaprio']# Include all movies in which Leo_Caprio is the lead

In [54]:
Brad_Pitt = movies[movies['actor_1_name'] == 'Brad Pitt'] # Include all movies in which Brad_Pitt is the lead

In [55]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

In [57]:
# Write your code for grouping the combined dataframe here
grouped_combined = Combined.groupby('actor_1_name').agg({
    'num_critic_for_reviews': 'mean',
    'num_user_for_reviews': 'mean'
}).reset_index()

In [58]:
# Write the code for finding the mean of critic reviews and audience reviews here
top_actors = grouped_combined.sort_values(by=['num_critic_for_reviews', 'num_user_for_reviews'], ascending=False)

print("Critic-Favorite and Audience-Favorite Actors:")
print(top_actors)

Critic-Favorite and Audience-Favorite Actors:
        actor_1_name  num_critic_for_reviews  num_user_for_reviews
1  Leonardo DiCaprio              330.190476            914.476190
0          Brad Pitt              245.000000            742.352941
2       Meryl Streep              181.454545            297.181818

**Checkpoint 6:** `Leonardo` has aced both the lists!

YES